<!DOCTYPE html>
<html lang="zh">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../public/js/vue.min.js"></script>
    <link href="../public/css/style.css" rel="stylesheet"> </head>

<body>
<div id="myApp">
  <ol>
    <game-item v-for="(item,index) in games" v-bind:game="item" v-bind:aaa="index"></game-item>
  </ol>
  <!--<ol>-->
    <!--<game-item v-for="(game,index) in games" v-bind:(game,index)="item"></game-item>-->
  <!--</ol>-->
</div>
<script>
/* 组件定义：game-item */
Vue.component('game-item', {
  props: ['game','aaa'],
  template: '<ul>{{ game.title }}==={{aaa}}</ul>'
});
/* Vue对象实例化 */
var myApp = new Vue({
  el: '#myApp',
  data: {
    games: [
      { title: '斗地主' },
      { title: '打麻雀' },
      { title: 'UNO' }
    ]
  }
});
</script>
</body>

</html>