<!DOCTYPE html>
<html lang="zh">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../public/js/vue.min.js"></script>
    <link href="../public/css/style.css" rel="stylesheet"> </head>

<body>
<div id="myApp">
    <p><input v-model="messageUpper" /></p>
    <p><input v-model="message" /></p>
    <p><input v-model="message.split(' ')[0]"/></p>
    <p>origin:{{message}}</p>
    <p>filter:{{message | toupper }}</p>
    <p>javascript:{{message.split(' ')[0] }} == {{message.toUpperCase()}}</p>
    <hr>
    <p>现在的vue.js学习进度是{{num}}({{num | topercentage}})。</p>
</div>
<script>
    var myApp = new Vue({
        el: '#myApp',
        data: {
            message: 'hello vue.js world.',
            num: 0.3
        },
        filters: {
            toupper: function(value){
                return value.toUpperCase();
            },
            topercentage: function(value){
                return value * 100 + '%';
            },
        },
        computed:{
            messageUpper:{
                get:function(){
                    return this.message;
                },
                set:function(val){
                    this.message = val.toUpperCase();
                }
            }
        }
    });
</script>
</body>

</html>